#include <layout_shift.dtsi>
#include <layout_shift_kp_override.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>


#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        shift_tab {
            bindings = <&kp LANG2>;
            key-positions = <12 13>;
        };

        lang {
            bindings = <&kp LANG1>;
            key-positions = <18 19>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>,<&msc SCRL_DOWN>;
            tap-ms = <20>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp L             &kp U       &kp COMMA     &kp DOT                                            &kp F        &kp W  &kp R      &kp Y            &kp P
&mt LEFT_CONTROL E  &kp I             &kp A       &kp O         &kp MINUS    &none              &none              &kp K        &kp T  &lt 5 N    &kp S            &mt RIGHT_CONTROL H
&mt LSHIFT Z        &mt LEFT_ALT X    &kp C       &kp V         &kp SLASH    &none              &none              &kp G        &kp D  &kp M      &mt RIGHT_ALT J  &mt RSHIFT B
&none               &none             &none       &kp LEFT_GUI  &lt 2 SPACE  &lt 3 TAB          &lt 2 ENTER        &lt 1 BACKSPACE                                 &none
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&kp ESC              &kpls N1          &kpls N2  &kpls N3  &kpls MINUS                           &kpls GRAVE  &kpls APOS   &kpls SEMI   &kpls STAR          &kpls PIPE
&mt LEFT_CONTROL N0  &kpls N4          &kpls N5  &kpls N6  &kpls PLUS   &trans         &trans    &kpls UNDER  &kpls LPAR   &kpls RPAR   &kpls LBKT          &mt RIGHT_CONTROL RBKT
&mt LSHIFT EQUAL     &mt LEFT_ALT N7   &kpls N8  &kpls N9  &kpls SLASH  &trans         &trans    &kpls BSLH   &kpls EXCL   &kpls QMARK  &mt RIGHT_ALT LT  &mt RSHIFT GT
&trans               &trans           &trans  &trans  &trans     &trans         &trans    &trans     &trans                                  &trans
            >;
        };

        FANCTION {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5                                &trans    &trans           &mkp MB3        &trans           &trans
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans         &trans      &trans    &mkp MB1         &kp UP_ARROW    &mkp MB2         &trans
&kp F11  &kp F12  &none   &none   &none      &trans         &trans      &trans    &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans   &trans   &trans  &trans  &trans     &trans         &trans      &trans                                                      &trans
            >;
        };

        BLT {
            bindings = <
&trans        &trans        &trans        &trans        &trans                             &trans  &trans  &trans  &trans  &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR    &trans        &trans        &trans        &trans         &tog_ls     &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans         &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
